/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

facility {
  display: flex;
  color: $table-title-text;
  background-color: $table-title-bg;
  border-top: 3px solid $table-title-bottom-border;
  border-bottom: 3px solid $table-title-bottom-border;

  > h2 {
    font-size: 22px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  margin-bottom: 25px;
}
