/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

facility {
  display: flex;
  flex-direction: column;


  > facility-title {

      color: $table-title-text;
      border-bottom: 3px solid $table-title-bottom-border;
      background-color: $table-title-bg;
      border-top: 3px solid $table-title-bottom-border;

      > h2 {
        font-size: 22px;
        margin-left: 10px;
        margin-bottom: 20px;
      }
      margin-bottom: 15px;
  }

  margin-bottom: 25px;
}
