# IDE Config
.idea

# Build Output
public/

# Test anc Coverate ouput
reports/
coverage/

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

npm-debug.log*
