/**
 * Created by Chris.Dorward on 23/09/2016.
 */
@import '../../../assets/css/variables.scss';

ward {

  nested {
    display: flex;
    flex-direction: column;
    padding:15px;
    margin-top:15px;
    font-size: 14px;
  }

  .facility__contentInner {
    border-top: 0;
    border-top: 3px solid $table-title-bottom-border;
  }
  .facility__contentInner p {

    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .facility__contentInner p:last-child {
    margin-bottom: 0;
  }

  .facility__trigger {
    display: block;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    border-top: 3px solid $table-title-bottom-border;
    padding: 15px;
    background-color: $table-title-bg;
    color: $table-title-text;
    font-size: 22px;
  }
  .facility__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }
  .facility__trigger.is-open:after {
    transform: rotateZ(180deg);
  }


  border-bottom: 3px solid $table-title-bottom-border;
}



