/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

newcomponent {
  display: block;

  border: 5px solid $bright-red;
  > h2 {
    color: $bright-green;
  }
}
