$miya-patient-gender-font-color: #fff;
$miya-patient-gender-male: #6ca4e6;
$miya-patient-gender-female: #e66cbd;
$miya-patient-gender-transgendered: #78d552;
$miya-patient-gender-unknown: #b679f4;

$miya-navigation-active-background-color: #000;
$miya-navigation-active-text-color: #fff;

$miya-header-bar-background-color: #F7F7F7;

$miya-footer-bar-border-color: #ccc;
$miya-footer-bar-background-color: #ebebeb;


$smartform-checkbox-border-color: #d3d3d3;
$smartform-checkbox-background: #f9f9f9;
$smartform-border-color: #efefef;
$smartform-border-color-readonly: #e6e6e6;
