/**
 * Created by Chris.Dorward on 21/09/2016.
 */

$bright-red: red;
$bright-green: green;

$table-title-bg: #ebf3fc;
$table-title-bottom-border: #4f525c;
$table-title-text: #4f525c;

$table-th-bg: #fbfdfc;
$table-stripe-light: #ffffff;
$table-stripe-dark: #fbfdfc;

// Ugly old green is: #7df89d
$availability-green: #7df89d;
$availability-dark-green: #18cf43;


$table-division-total: #fafcfb;
$table-division-total-border: #7e7e7e;

$table-facility-total-bg: #e0e0e0;
$table-facility-total-border: #9e9e9e;
$table-facility-total-cell-border: #c8c8c8;


