/**
 * Created by Chris.Dorward on 21/09/2016.
 */

$primary-color: #fff;

$bright-red: red;
$bright-green: green;

$table-title-bg: #ebf3fc;
$table-title-bottom-border: #4f525c;
$table-title-text: #4f525c;



