/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

division {
  display: flex;
  flex-direction: column;

  > division-title {

    color: $table-title-text;

    > h3 {
      font-weight: bold;
      font-size: 22px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }
}
