/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

division {
  display: flex;
  flex-direction: column;

  > division-title {
    > h3 {
      color: $table-title-text;
      font-weight: bold;
      font-size: 22px;
      margin-left: 10px;
      margin-bottom: 15px;
      margin-top: 0px;
      padding:0px;
    }
  }
}
