/**
 * Created by Chris.Dorward on 21/09/2016.
 */
@import '../../../assets/css/variables.scss';

division {
  display: flex;
  flex-direction: column;

  .division__trigger {
    padding: 15px;
    display: block;
    text-decoration: none;
    position: relative;
    color: $table-title-text;
    font-size: 22px;
    font-weight: bold;
  }
  .division__trigger:after {
    font-family: 'Glyphicons Halflings';
    cursor: pointer;
    content: '\e260';
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    transition: transform 300ms;
  }
  .division__trigger.is-open:after {
    transform: rotateZ(180deg);
  }
}
